<div class="flex justify-end" data-controller="message">
  <div class="w-4/6 px-4 py-2 border rounded-lg shadow-md mb-4">
    <%= message.text %>
    <div class="flex justify-between items-center text-sm ">
      <p><strong>From:</strong> <%= message.user.display_name %></p>
      <p class="text-primary-light">
        <%= time_ago(message.created_at)%>
      </p>
    </div>
  </div>
</div>
